<div id = "timeline_wrapper">
    <section id="cd-timeline" class="cd-container">
        {% for entry in include.timeline.sections %}
            <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-{{ entry.type }}">
                        <img alt="{{ entry.type }}" src="{{ site.url }}{{ site.baseurl }}/assets/images/icons/{{ entry.type }}.png" />
                    </div> <!-- cd-timeline-img -->
        
                    <div class="cd-timeline-content">
                        <h2>{{ entry.name }} - {{ entry.location }}<br></h2>
                        <p><i>{{ entry.position }}</i></p>
                        <p>{{ entry.description }}</p>
                        {% if entry.link %}<a href="{{ entry.link }}" class="cd-read-more">Read more</a>{% endif %}
                        <span class="cd-date">{{ entry.date }}</span>
                    </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
        {% endfor %}
    </section> <!-- cd-timeline -->
</div>

